/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ccc;
}

.container {
  max-width: 900px; 
  margin: 50px auto;
  padding: 30px; 
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


h1 {
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

/* Form Styles */
form {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns */
  gap: 20px; /* Increased gap between items */
}

.form-row {
  display: flex;
  flex-direction: column;
}

.radio-group {
  display: flex;
  gap: 15px; /* Increased spacing for radio buttons */
  align-items: center;
}

label {
  font-weight: bold;
}

input, select {
  padding: 12px; /* Increased padding for inputs and dropdowns */
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

/* Button Group */
.button-group {
  display: flex; /* Use flexbox for horizontal layout */
  justify-content: flex-start; /* Align buttons to the start of the container */
  align-items: center; /* Vertically center buttons if the height is larger */
  grid-column: span 2; /* Span across both columns */
  text-align: left; /* Align text to the left */
}
button {
  padding: 12px 25px; /* Increased button size */
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px; /* Increased spacing between buttons */
}

button:hover {
  background-color: #0f07ef;
}

/* Header Styling */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ccc; 
  color: white;
  padding: 0px 0px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}




/* Logout Button Styling */
.logout-btn {
  background-color: #ccc;
  color: #007bff;
  padding: 8px 15px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.logout-btn:hover {
  background-color: #272423;
  color: rgb(246, 238, 238);
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 20px;
}

.dropbtn {
  background-color: #e04c35;
  color: rgb(210, 187, 33);
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #e1d8d8;
  min-width: 250px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  padding: 10px;
  z-index: 1;
  color: #333;
}

.dropdown:hover .dropdown-content {
  display: block;
}

h2 {
  color:#272423;
}